name: Nuclei DAST Scan

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  nuclei-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nuclei
        run: |
          curl -sL https://github.com/projectdiscovery/nuclei/releases/download/v3.2.9/nuclei_3.2.9_linux_amd64.tar.gz -o nuclei.tar.gz
          tar -xvzf nuclei.tar.gz
          sudo mv nuclei /usr/local/bin/

      - name: Run Nuclei scan with full requests
        run: |
          mkdir -p scans
          nuclei -list apis.http -json -o scans/nuclei-report.json

      - name: Upload scan reports
        uses: actions/upload-artifact@v4
        with:
          name: nuclei-reports
          path: scans/
